.phone-book
  width: 100%
  max-width: 800px
  margin: auto
  border: 1px solid transparent

  .container
    width: 95%
    min-height: 95%
    margin: 20px auto
    text-align: center
    background-color: $grey-light
    border: 1px solid transparent
    border-radius: 6px

    .get-all-records
      @include btn-styled
      float: left
      margin-left: 20px

    .add-record
      @include btn-styled
      float: right
      margin-right: 20px

    .records-list
      width: 90%
      margin: 70px auto 20px auto
      padding: 0 20px
      border-top: 1.5px solid $green-light

      @media (max-width: 600px)
        width: 98%
        padding: 2px

      .headings
        display: grid
        grid-template-columns: 1fr 1fr 1fr 50px
        justify-items: start

        p
          margin: 10px
          font-weight: bold

          @media (max-width: 600px)
            font-size: 14px